<div class="row row-margin">
  <div class="col-md-4">
    <label for="dt-entrega" class="label-block bold">Data Entrega:</label>
    <label id="dt-entrega">01/01/2019</label>
  </div>
  <div class="col-md-4">
    <label for="qtd-horas" class="label-block bold">Qtd. de Horas:</label>
    <label id="qtd-horas">50</label>
  </div>
  <div class="col-md-12">
    <label for="descricao" class="label-block bold">Descrição Atividade:</label>
    <label class="descricao-atividade" id="qtd-horas">Integração sobre a empresa, treinamentos dos diversos temas:
      UX, Design Thinking, Agile, Scrum, Git, Conceitos de Aplicações Web, Banco de Dados, Testes, .Net Framework,
      Front-End, Java. Participação Sprint Plaining do dia 02/04/2018.
      Configuração do ambiente da máquina que utilizo, no meu caso, instalação do Software Microsoft Visual Studio
      2010 e 2015, SQL Management, além de outras diversas configurações específicas para atuar no ambiente
      NewSpace (cliente Ventron). Ouvinte na palestra do Tech Day sobre Agile Journey, ministrado pelo Diretor da
      Ventron, Alex Salino.
      Desenvolvimento e entrega de um CRUD Inicial Web (desafio), proposto pelas equipes NewSpace para verificar
      os conhecimentos nas tecnologias C#, MVC, Entity Framework code first, orientação a objetos, entendimento de
      caso de uso.
      Entendimento teórico da metodologia de 3 camadas de separação de uma solução, camada de apresentação (View),
      negócio (BLL), acesso a dados (DAL).
    </label>
  </div>

  <div class="barra"></div>

  <div class="col-md-4">
    <label for="dt-entrega" class="label-block bold">Data Entrega:</label>
    <label id="dt-entrega">01/06/2019</label>
  </div>
  <div class="col-md-4">
    <label for="qtd-horas" class="label-block bold">Qtd. de Horas:</label>
    <label id="qtd-horas">50</label>
  </div>
  <div class="col-md-12">
    <label for="descricao" class="label-block bold">Descrição Atividade:</label>
    <label class="descricao-atividade" id="qtd-horas">Adaptação e separação em camadas para o projeto Crud Inicial
      que desenvolvemos anteriormente.
      Card 5640 – Solução do problema e realizar testes. Ouvinte do TechDay do dia 27/04/2018 – Clean Code,
      ministrado pelo Gerente de Projetos
    </label>
  </div>

  <div class="barra"></div>

  <div class="col-md-4">
    <label for="dt-entrega" class="label-block bold">Data Entrega:</label>
    <label id="dt-entrega">01/12/2019</label>
  </div>
  <div class="col-md-4">
    <label for="qtd-horas" class="label-block bold">Qtd. de Horas:</label>
    <label id="qtd-horas">100</label>
  </div>
  <div class="col-md-12">
    <label for="descricao" class="label-block bold">Descrição Atividade:</label>
    <label class="descricao-atividade" id="qtd-horas">Particiapações em Sprint Plainings, Daylis. Analisar e
      realizar soluções para os cards: 7186 -Criação de Robô que efetue assinatura Digital (atuação em melhoria
      específica do card), 6994 - Criação de Nova Área, Seguimento e Modalidade (atuação em melhoria específica do
      card),
    </label>
  </div>
</div>