<form id="form-dados-aluno">
  <div class="row row-margin">

    <div class="col-md-4">
      <label for="ra" class="bold">RA:</label>
      <label id="ra" class="label-block" style="margin-bottom: 20px">0030481521009</label>
    </div>

    <div class="col-md-4">
      <label for="nome" class="bold">Nome:</label>
      <label id="nome" class="label-block">Felipe Augusto de Oliveira</label>
    </div>

    <div class="col-md-4">
      <label for="curso" class="bold">Curso:</label>
      <label id="curso" class="label-block">ADS</label>
    </div>

    <div class="col-md-4">
      <label for="semestre" class="bold">Semestre:</label>
      <label id="semestre" class="label-block" style="margin-bottom: 20px">6. Semestre</label>
    </div>

    <div class="col-md-4">
      <label for="periodo" class="bold">Período:</label>
      <label id="periodo" class="label-block">Noturno</label>
    </div>

    <div class="col-md-4">
      <label for="email" class="bold">E-Mail:</label>
      <label id="email" class="label-block">felipe@fatec.com.br</label>
    </div>

    <div class="col-md-4">
      <label for="telefone" class="bold">Telefone:</label>
      <label id="telefone" class="label-block">(15) 98183-1714</label>
    </div>

    <div class="col-md-4">
      <label for="sexo" class="bold">Sexo:</label>
      <label id="sexo" class="label-block">Masculino</label>
    </div>

    <div class="col-md-4">
      <label for="dtVestibular" class="bold">Data Vestibular:</label>
      <label id="dtVestibular" class="label-block">01/06/2015</label>
    </div>
  </div>
</form>