<menu></menu>
<div class="container">
    <div class="row">
      <div class="col-md-9">
        <h1>Registrar Entrega de {{ titulo }} de Estágio</h1>
      </div>
    </div>
    <form id="form-relatorio">

      <div class="col-md-12">
        <app-relatorio-pesquisa-aluno></app-relatorio-pesquisa-aluno>
      </div>

      <div class="col-md-12">
        <app-relatorio-adicionar></app-relatorio-adicionar>
      </div>

      <div class="col-md-12">
        <app-relatorio-exibicao></app-relatorio-exibicao>
      </div>
      
    </form>
  
    <div class="col-md-12">
      <button id="btn-salvar" type="button" class="btn btn-success">Salvar</button>
    </div>
</div>