<form id="form-relatorio-adicionar">
  <div class="row">
      <div class="col-md-12">
        <h3>Relatórios Adicionados</h3>
      </div>
  </div>
  <div class="row row-margin">

      <div class="col-md-12">
        <label class="label">Relatório:</label>
        <label id="label-numero-relatorio" class="label espacamento">1</label>
      </div>

      <div class="col-md-12">
        <label class="label">Data Entrega:</label>
        <label id="label-data-entrega-relatorio" class="label espacamento">15/07/2015</label>
      </div>

      <div class="col-md-12">
        <label class="label label-block">Descrição:</label>
        <label id="label-data-entrega-relatorio" class="label espacamento">xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx</label>
        <label id="label-data-entrega-relatorio2" class="label espacamento">xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx</label>
      </div>
  </div>

  <div class="separador"></div>

  <div class="row row-margin">

      <div class="col-md-12">
        <label class="label">Relatório:</label>
        <label id="label-numero-relatorio" class="label espacamento">2</label>
      </div>

      <div class="col-md-12">
        <label class="label">Data Entrega:</label>
        <label id="label-data-entrega-relatorio" class="label espacamento">15/12/2015</label>
      </div>

      <div class="col-md-12">
        <label class="label label-block">Descrição:</label>
        <label id="label-data-entrega-relatorio" class="label espacamento">xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx</label>
        <label id="label-data-entrega-relatorio2" class="label espacamento">xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx</label>
      </div>
  </div>

  <div class="separador"></div>

  <div class="row row-margin">

      <div class="col-md-12">
        <label class="label">Relatório:</label>
        <label id="label-numero-relatorio" class="label espacamento">3</label>
      </div>

      <div class="col-md-12">
        <label class="label">Data Entrega:</label>
        <label id="label-data-entrega-relatorio" class="label espacamento">15/04/2016</label>
      </div>

      <div class="col-md-12">
        <label class="label label-block">Descrição:</label>
        <label id="label-data-entrega-relatorio" class="label espacamento">xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx</label>
        <label id="label-data-entrega-relatorio2" class="label espacamento">xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx</label>
      </div>
  </div>
</form>