<div class="container" style="margin-top: 150px;">
  <div class="row">
    <div class="col-md-12" style="margin-bottom: 10px;">
      <p class="titulo">Registro de Entrega de Relatório</p>
    </div>

    <div class="col-md-6">
      <label for="ra">RA:</label>
      <input type="text" class="form-control" id="ra">
    </div>
    <div class="col-md-6">
      <label for="nome">Nome:</label>
      <input type="text" class="form-control" id="nome">
    </div>

    <div class="col-md-12 d-flex justify-content-end" style="margin-top: 20px;">
      <button id="btn-buscar" type="button" class="btn btn-secondary">Buscar</button>
    </div>

    <div class="col-md-12">
      <table class="table table-bordered">
        <thead class="alinhamento">
          <tr>
            <th *ngFor="let cabecalho of cabecalhoElementos" scope="col">{{ cabecalho }}</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let entrega of entregas">
              <td> {{ entrega.estagio.aluno.nome }}</td>
              <td> {{ entrega.estagio.aluno.ra }}</td>
              <td> {{ entrega.estagio.aluno.curso }}</td>
            <td style="text-align: center">
              <a id="visualizar" title="Visualizar" (click)="openModalVisualizarRelatorios(modalVisualizarRelatorios, entrega.estagio.aluno.id)"
                class="fa fa-eye"></a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<ng-template #modalVisualizarRelatorios>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Relatórios</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalVis.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="row row-margin">
      
      <div class="identificacao-titulo">
        Aluno
      </div>

      <div class="col-md-3">
        <label for="nome" class="bold">Aluno:</label>
        <label name="nome" id="nome" class="label-block">{{ aluno.nome }}</label>
      </div>
      
      <div class="col-md-3">
        <label for="ra" class="bold">RA:</label>
        <label name="ra" id="ra" class="label-block" style="margin-bottom: 20px">{{ aluno.ra }}</label>
      </div>
      
      
      <div class="col-md-3">
        <label for="curso" class="bold">Curso:</label>
        <label name="curso" id="curso" class="label-block">{{ aluno.curso }}</label>
      </div>
      
      <div class="col-md-3">
        <label for="razaoSocial" class="bold">Empresa:</label>
        <label name="razaoSocial" id="razaoSocial" class="label-block" style="margin-bottom: 20px">{{ empresa.razaoSocial }}</label>
      </div>
      
      <div class="identificacao-titulo">
        Relatórios Parciais
      </div>

      <div *ngFor="let relatorioParcial of relatoriosParciais">
        <div class="col-md-12">
          <label for="periodo" class="bold" style="margin-right: 7px;">Período de Avaliação:</label>
          <label id="periodo" >{{ relatorioParcial.periodoDe | date: 'dd/MM/yyyy' }} até {{ relatorioParcial.periodoAte | date: 'dd/MM/yyyy' }}</label>
          
          <button style="margin-left: 20px;" id="btn-buscar" type="button" class="btn btn-danger" title="Visualizar Relatório Parcial"
            (click)="visualizarRelatorioParcial()">
            <i class="fa fa-search" aria-hidden="true"></i>
          </button>
        </div>

        <div class="col-md-12">
          <label for="periodo" class="bold">Este relatório foi entregue ?</label>
          <input type="radio" class="check" id="acordo-plano-sim" name="plano1">Sim
          <input type="radio" class="check" id="acordo-plano-nao" name="plano1">Não
        </div>
      </div>
      
      <div class="identificacao-titulo" style="margin-top: 10px;">
        Relatório Final
      </div>
      
      <div class="modal-body">
        <div *ngIf="relatorioFinal != undefined" class="row row-margin">
          <div class="col-md-12">
            <label for="tipo-atividade" class="bold">Tipo de Atividade desenvolvida e forma de comprovação:</label>
            <label id="tipo-atividade" class="label-block" style="margin-bottom: 20px">{{ relatorioFinal.tipoAtividade }}</label>
          </div>

          <div class="col-md-3">
            <label for="local" class="bold">Local:</label>
            <label id="local" class="label-block">{{ relatorioFinal.local }}</label>
          </div>

          <div class="col-md-3">
            <label for="de" class="bold">De:</label>
            <label id="de" class="label-block">{{ relatorioFinal.periodoDe | date: 'dd/MM/yyyy' }}</label>
          </div>

          <div class="col-md-3">
            <label for="ate" class="bold">Até:</label>
            <label id="ate" class="label-block">{{ relatorioFinal.periodoAte | date: 'dd/MM/yyyy' }}</label>
          </div>

          <div class="col-md-3">
            <label for="area" class="bold">Área da Atividade:</label>
            <label id="area" class="label-block" style="margin-bottom: 20px">{{ relatorioFinal.areaAtividade }}</label>
          </div>

          <div class="col-md-4">
            <label for="horas" class="bold">Total de Horas Cumpridas:</label>
            <label id="horas" class="label-block" style="margin-bottom: 20px">{{ relatorioFinal.totalHorasCumpridas }}</label>
          </div>

          <div class="col-md-4">
            <label for="periodo" class="bold">Este relatório foi entregue ?</label>
            <input type="radio" class="check" id="acordo-plano-sim" name="entregue" value="true" (change)="relatorioEntregue($event, relatorioFinal)">Sim
            <input type="radio" class="check" id="acordo-plano-nao" name="entregue" value="false" (change)="relatorioEntregue($event, relatorioFinal)">Não
          </div>
        </div>

      </div>
      <div class="col-md-12 d-flex justify-content-end" *ngIf="relatorioFinal != undefined">
          <button id="btn-salvar" type="button" class="btn btn-danger" title="Salvar" (click)="salvarRelatorioEntregue(modalPosRequisicao)">Salvar</button>
      </div>

    </div>
  </div>
</ng-template>

<ng-template #modalPosRequisicao>
  <div class="modal-body">
    <div class="row row-margin">
      <div class="col-md-12">
        <h4 class="modal-title align-center">{{ mensagemPosReq }}</h4>
      </div>
      <div class="col-md-12 d-flex justify-content-center">
        <button id="btnOK" type="button" class="btn btn-danger" (click)="modalPosReq.hide()" style="margin-top:10px; width: 100px">Ok</button>
      </div>
    </div>
  </div>
</ng-template>