<div class="container" style="margin-top:150px">
  <div class="row">
    <div class="col-md-9">
      <p class="titulo">Visualizar Estágio</p>
    </div>
  </div>
  <form id="form-relatorio-final">
    <div class="row row-margin">

      <div class="col-md-12 identificacao-border">
        <p>Identificação do Aluno</p>
      </div>

      <div class="col-md-3">
        <label for="nome">Aluno(a):</label>
        <label name="nome" id="nome" class="label-block">{{ aluno.nome }}</label>
      </div>

      <div class="col-md-3">
        <label for="ra">RA:</label>
        <label id="ra" class="label-block">{{ aluno.ra }}</label>
      </div>

      <div class="col-md-3">
        <label for="curso">Curso:</label>
        <label id="curso" class="label-block">{{ aluno.curso }}</label>
      </div>

      <div class="col-md-3">
        <label for="turno">Turno:</label>
        <label id="turno" class="label-block">{{ aluno.periodo }}</label>
      </div>

      <div class="col-md-12 identificacao-border">
        <p>Identificação da Organização Concedente de Estágio Atual</p>
      </div>

      <div class="col-md-3">
        <label for="razao-social">Razão Social:</label>
        <label id="razao-social" class="label-block">{{ empresa.razaoSocial }}</label>
      </div>

      <div class="col-md-3">
        <label for="nome-orientador">Supervisor de Estágio:</label>
        <label id="nome-orientador" class="label-block">{{ contrato.supervisorEstagio }}</label>
      </div>

      <div class="col-md-3">
        <label for="cargo-orientador">Cargo Supervisor de Estágio:</label>
        <label id="cargo-orientador" class="label-block">{{ contrato.cargoSupervisorEstagio }}</label>
      </div>

      <div class="col-md-3">
        <label for="contatos-orientador">E-mail Supervisor de Estágio:</label>
        <label id="contatos-orientador" class="label-block">{{ contrato.emailSupervisor }}</label>
      </div>

      <div class="col-md-12 d-flex justify-content-end" style="margin-top: 30px">
        <form id="form-historico-estagio">

          <button id="btn-historico-total" type="button" (click)="openModalHistorico(modalHistorico, 1)"
                  class="btn btn-danger espacamento-left">Histórico de Estágios
          </button>
          <button id="btn-estagio-atual" type="button" (click)="openModal(atual)" class="btn btn-danger espacamento-left">Estágio
            Atual</button>
        </form>
      </div>
    </div>
  </form>
</div>

<ng-template #modalHistorico>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Histórico de Estágios</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRefHist.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form id="form-dados-estagio">
      <div class="row row-margin">
        <div class="col-md-12">
          <div class="row row-margin" *ngFor="let estagio of estagios">
            <div class="col-md-3">
              <label for="empresa" class="label-block bold">Empresa:</label>
              <label id="empresa">{{ estagio.contrato.empresa.razaoSocial }}</label>
            </div>
            <div class="col-md-3">
              <label for="dt-inicio" class="label-block bold">Data Início Estágio:</label>
              <label id="dt-inicio">{{ estagio.contrato.dataInicio | date: 'dd/MM/yyyy'}}</label>
            </div>
            <div class="col-md-3">
              <label for="dt-fim" class="label-block bold">Data Fim Estágio:</label>
              <label id="dt-fim">{{ estagio.contrato.dataFim | date: 'dd/MM/yyyy'}}</label>
            </div>
            <div class="col-md-3">
              <label for="supervisor" class="label-block bold">Supervisor de Estágio:</label>
              <label id="supervisor">{{ estagio.contrato.supervisorEstagio }}</label>
            </div>
            <div class="col-md-3">
              <label for="qtd-horas" class="label-block bold">Qtd. de Horas Registradas:</label>
              <label id="qtd-horas">xxx</label>
            </div>
            <div class="col-md-6">
              <input type="radio" class="check" id="utilizar-estagio" style="margin:30px 10px 0 0" name="opcao-estagio">
              <label for="utilizar-estagio">Utilizar este estágio para conclusão do Curso</label>
            </div>
            <div class="col-md-3">
              <button id="btn-visualiza-atividades" type="button" class="btn btn-danger" style="margin-top:20px"
                (click)="openModalVisualizar(modalVisualizar)">Visualizar
                Atividades</button>
            </div>
            <div class="barra"></div>
          </div>
        </div>
      </div>
    </form>
  </div>
</ng-template>

<ng-template #modalVisualizar>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Visualizar Atividades</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalVisualizarRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <app-visualizar-atividades></app-visualizar-atividades>
  </div>
</ng-template>

<ng-template #atual>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Estágio Atual - Ventron Informática</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="row row-margin">
      <div class="col-md-4">
        <label for="dt-entrega" class="label-block bold">Data Entrega Relatório:</label>
        <label id="dt-entrega">01/01/2019</label>
      </div>
      <div class="col-md-4">
        <label for="qtd-horas" class="label-block bold">Qtd. de Horas:</label>
        <label id="qtd-horas">50</label>
      </div>
      <div class="col-md-12">
        <label for="descricao" class="label-block bold">Descrição Atividade:</label>
        <label class="descricao-atividade" id="qtd-horas">Integração sobre a empresa, treinamentos dos diversos temas:
          UX, Design Thinking, Agile, Scrum, Git, Conceitos de Aplicações Web, Banco de Dados, Testes, .Net Framework,
          Front-End, Java. Participação Sprint Plaining do dia 02/04/2018.
          Configuração do ambiente da máquina que utilizo, no meu caso, instalação do Software Microsoft Visual Studio
          2010 e 2015, SQL Management, além de outras diversas configurações específicas para atuar no ambiente
          NewSpace (cliente Ventron). Ouvinte na palestra do Tech Day sobre Agile Journey, ministrado pelo Diretor da
          Ventron, Alex Salino.
          Desenvolvimento e entrega de um CRUD Inicial Web (desafio), proposto pelas equipes NewSpace para verificar
          os conhecimentos nas tecnologias C#, MVC, Entity Framework code first, orientação a objetos, entendimento de
          caso de uso.
          Entendimento teórico da metodologia de 3 camadas de separação de uma solução, camada de apresentação (View),
          negócio (BLL), acesso a dados (DAL).
        </label>
      </div>

      <div class="barra"></div>

      <div class="col-md-4">
        <label for="dt-entrega" class="label-block bold">Data Entrega Relatório:</label>
        <label id="dt-entrega">01/06/2019</label>
      </div>
      <div class="col-md-4">
        <label for="qtd-horas" class="label-block bold">Qtd. de Horas:</label>
        <label id="qtd-horas">50</label>
      </div>
      <div class="col-md-12">
        <label for="descricao" class="label-block bold">Descrição Atividade:</label>
        <label class="descricao-atividade" id="qtd-horas">Adaptação e separação em camadas para o projeto Crud Inicial
          que desenvolvemos anteriormente.
          Card 5640 – Solução do problema e realizar testes. Ouvinte do TechDay do dia 27/04/2018 – Clean Code,
          ministrado pelo Gerente de Projetos
        </label>
      </div>

      <div class="barra"></div>

      <div class="col-md-4">
        <label for="dt-entrega" class="label-block bold">Data Entrega Relatório:</label>
        <label id="dt-entrega">01/12/2019</label>
      </div>
      <div class="col-md-4">
        <label for="qtd-horas" class="label-block bold">Qtd. de Horas:</label>
        <label id="qtd-horas">100</label>
      </div>
      <div class="col-md-12">
        <label for="descricao" class="label-block bold">Descrição Atividade:</label>
        <label class="descricao-atividade" id="qtd-horas">Particiapações em Sprint Plainings, Daylis. Analisar e
          realizar soluções para os cards: 7186 -Criação de Robô que efetue assinatura Digital (atuação em melhoria
          específica do card), 6994 - Criação de Nova Área, Seguimento e Modalidade (atuação em melhoria específica do
          card),
        </label>
      </div>
    </div>

    <div class="barra"></div>

    <div class="row row-margin" style="text-align: center">
      <div class="col-md-6">
        <label for="total-horas" class="label-block bold">Total de Horas Atuais:</label>
        <label id="total-horas">200 Horas</label>
      </div>
      <div class="col-md-6">
        <label for="horas-faltantes" class="label-block bold">Total de Horas Faltantes:</label>
        <label id="horas-faltantes">0 Horas</label>
      </div>
    </div>

    <div class="row row-margin">
      <div class="col-md-12 justify-content-end">
        <button id="btn-concluir-estagio" type="button" class="btn btn-danger"
          (click)="openModalConfirm(modalConfirm)">Concluir
          Estágio</button>

        <button id="btn-imprimir" type="button" class="btn btn-secondary">Imprimir</button>
        <button id="btn-adicionar" type="button" class="btn btn-danger espacamento-left"
          (click)="openModalAddAtividade(modalAddAtividade)">Adicionar Atividade</button>
      </div>
    </div>
  </div>
</ng-template>