<div class="container" style="margin-top:150px">
  <div class="row">
    <div class="col-md-9">
      <p class="titulo">Visualizar Estágio</p>
    </div>
  </div>
  <form id="form-relatorio-final">
    <div class="row row-margin">

      <div class="col-md-12 identificacao-border">
        <p>Identificação do Aluno</p>
      </div>

      <div class="col-md-3">
        <label for="nome">Aluno(a):</label>
        <label name="nome" id="nome" class="label-block">{{ aluno.nome }}</label>
      </div>

      <div class="col-md-3">
        <label for="ra">RA:</label>
        <label id="ra" class="label-block">{{ aluno.ra }}</label>
      </div>

      <div class="col-md-3">
        <label for="curso">Curso:</label>
        <label id="curso" class="label-block">{{ aluno.curso }}</label>
      </div>

      <div class="col-md-3">
        <label for="turno">Turno:</label>
        <label id="turno" class="label-block">{{ aluno.periodo }}</label>
      </div>

      <div class="col-md-12 identificacao-border">
        <p>Identificação da Organização Concedente de Estágio Atual</p>
      </div>

      <div class="col-md-3">
        <label for="razao-social">Razão Social:</label>
        <label id="razao-social" class="label-block">{{ empresa.razaoSocial }}</label>
      </div>

      <div class="col-md-3">
        <label for="nome-orientador">Supervisor de Estágio:</label>
        <label id="nome-orientador" class="label-block">{{ contrato.supervisorEstagio }}</label>
      </div>

      <div class="col-md-3">
        <label for="cargo-orientador">Cargo Supervisor de Estágio:</label>
        <label id="cargo-orientador" class="label-block">{{ contrato.cargoSupervisorEstagio }}</label>
      </div>

      <div class="col-md-3">
        <label for="contatos-orientador">E-mail Supervisor de Estágio:</label>
        <label id="contatos-orientador" class="label-block">{{ contrato.emailSupervisor }}</label>
      </div>

      <div class="col-md-12 d-flex justify-content-end" style="margin-top: 30px">
        <form id="form-historico-estagio">

          <button id="btn-historico-total" type="button" (click)="openModalHistorico(modalHistorico, 1)"
                  class="btn btn-danger espacamento-left">Histórico de Estágios
          </button>
          <button id="btn-estagio-atual" type="button" (click)="openModal(atual, aluno)" class="btn btn-danger espacamento-left">Estágio
            Atual</button>
        </form>
      </div>
    </div>
  </form>
</div>

<ng-template #modalHistorico>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Histórico de Estágios</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRefHist.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form id="form-dados-estagio">
      <div class="row row-margin">
        <div class="col-md-12">
          <div class="row row-margin" *ngFor="let estagio of estagios">
            <div class="col-md-3">
              <label for="empresa" class="label-block bold">Empresa:</label>
              <label id="empresa">{{ estagio.contrato.empresa.razaoSocial }}</label>
            </div>
            <div class="col-md-3">
              <label for="dt-inicio" class="label-block bold">Data Início Estágio:</label>
              <label id="dt-inicio">{{ estagio.contrato.dataInicio | date: 'dd/MM/yyyy'}}</label>
            </div>
            <div class="col-md-3">
              <label for="dt-fim" class="label-block bold">Data Fim Estágio:</label>
              <label id="dt-fim">{{ estagio.contrato.dataFim | date: 'dd/MM/yyyy'}}</label>
            </div>
            <div class="col-md-3">
              <label for="supervisor" class="label-block bold">Supervisor de Estágio:</label>
              <label id="supervisor">{{ estagio.contrato.supervisorEstagio }}</label>
            </div>
            <div class="col-md-3">
              <label for="qtd-horas" class="label-block bold">Qtd. de Horas Registradas:</label>
              <label id="qtd-horas">xxx</label>
            </div>
            <div class="col-md-6">
              <input type="radio" class="check" id="utilizar-estagio" style="margin:30px 10px 0 0" name="opcao-estagio">
              <label for="utilizar-estagio">Utilizar este estágio para conclusão do Curso</label>
            </div>
            <div class="col-md-3">
              <button id="btn-visualiza-atividades" type="button" class="btn btn-danger" style="margin-top:20px"
                (click)="openModalVisualizar(modalVisualizar)">Visualizar
                Atividades</button>
            </div>
            <div class="barra"></div>
          </div>
        </div>
      </div>
    </form>
  </div>
</ng-template>

<ng-template #modalVisualizar>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Visualizar Atividades</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalVisualizarRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body" *ngFor="let relatorioAtvHistorico of relatoriosAtividadesAlunoHistoricos">
    <div class="row row-margin">
      <div class="col-md-4">
        <label for="dt-entrega" class="label-block bold">Data Entrega Relatório:</label>
        <label id="dt-entrega">{{ relatorioAtvHistorico.dataEntrega | date: 'dd/MM/yyyy'}}</label>
      </div>
      <div class="col-md-4">
        <label for="qtd-horas" class="label-block bold">Qtd. de Horas:</label>
        <label id="qtd-horas">{{ relatorioAtvHistorico.qtdHoras }}</label>
      </div>
      <div class="col-md-12">
        <label for="descricao" class="label-block bold">Descrição Atividade:</label>
        <label class="descricao-atividade" id="qtd-horas">{{ relatorioAtvHistorico.descricao }}</label>
      </div>
      <div class="barra"></div>
    </div>
  </div>
</ng-template>

<ng-template #atual>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Lista de Relatórios de Atividades</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
  
      <div class="row row-margin" *ngFor="let relatorioAtividade of relatoriosAtividades">
        <div class="col-md-4">
          <label for="dt-entrega" class="label-block bold">Data Entrega Relatório:</label>
          <label id="dt-entrega">{{ relatorioAtividade.dataEntrega | date: 'dd/MM/yyyy' }}</label>
        </div>
        <div class="col-md-4">
          <label for="qtd-horas" class="label-block bold">Qtd. de Horas:</label>
          <label id="qtd-horas">{{ relatorioAtividade.qtdHoras }}</label>
        </div>
        <div class="col-md-12">
          <label for="descricao" class="label-block bold">Descrição Atividade:</label>
          <label class="descricao-atividade" id="qtd-horas">{{ relatorioAtividade.descricao }}</label>
        </div>
        <div class="barra"></div>
      </div>
    

    <div class="row row-margin" style="text-align: center">
      <div class="col-md-6">
        <label for="total-horas" class="label-block bold">Total de Horas Atuais:</label>
        <label id="total-horas">{{ totalHorasAtuais }} Horas</label>
      </div>
      <div class="col-md-6">
        <label for="horas-faltantes" class="label-block bold">Total de Horas Faltantes:</label>
        <label id="horas-faltantes">{{ totalHorasFaltantes }} Horas</label>
      </div>
    </div>

    <div class="row row-margin">
      <div class="col-md-12 justify-content-end">
        <!-- <button id="btn-concluir-estagio" type="button" class="btn btn-danger"
          (click)="openModalConfirm(modalConfirm)">Concluir
          Estágio</button> -->

        <button id="btn-imprimir" type="button" class="btn btn-secondary">Imprimir</button>
        <button id="btn-adicionar" type="button" class="btn btn-danger espacamento-left"
          (click)="openModalAddAtividade(modalAddAtividade)">Adicionar Atividade</button>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #modalAddAtividade>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Adicionar Atividade </h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRefChild.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form #relatorioAtividadeAdicionarForm ="ngForm" id="form-adicionar-registro">
      <div class="row row-margin">
          <div class="col-md-3">
            <label for="input-data-entrega">Data Entrega Relatório:</label>
            <input name="dataEntrega" type="date" class="form-control" id="input-data-entrega" [(ngModel)]="relatorioAtividade.dataEntrega">
          </div>
          <div class="col-md-3">
              <label for="input-horas">Qtd. Horas:</label>
              <input name="qtdHoras" type="number" class="form-control" id="input-horas" [(ngModel)]="relatorioAtividade.qtdHoras">
            </div>
          <div class="col-md-12">
            <label for="input-descricao" class="espacamento-top">Descrição Atividade:</label>
            <textarea name="descricao" class="form-control" id="input-descricao" rows="3" [(ngModel)]="relatorioAtividade.descricao"></textarea>
          </div>
      </div>
    </form>
    <br />
    <button id="btn-limpar" type="button" class="btn btn-secondary" (click)="limparRelatorioAtividadeAdd(relatorioAtividadeAdicionarForm)">Limpar</button>
    <button id="btn-add-estagio" type="button" class="btn btn-danger"(click)="salvarRelatorioAtividade(modalPosRequisicao, relatorioAtividadeAdicionarForm)" style="margin-left: 10px;">Adicionar</button>
  </div>
</ng-template>

<ng-template #modalPosRequisicao>
  <div class="modal-body">
    <div class="row row-margin">
      <div class="col-md-12">
        <h4 class="modal-title align-center">{{ mensagemPosReq }}</h4>
      </div>
      <div class="col-md-12 d-flex justify-content-center">
        <button id="btnOK" type="button" class="btn btn-danger" (click)="modalPosReq.hide()" style="margin-top:10px; width: 100px">Ok</button>
      </div>
    </div>
  </div>
</ng-template>