<form id="form-aluno">
<div class="row">
    <div class="col-md-12">
      <h3>Aluno</h3>
    </div>
  </div>
  <div class="row row-margin">

    <div class="col-md-8">
      <label for="input-ra">RA:</label>
      <input type="text" class="form-control" id="input-ra">
    </div>

    <div class="col-md-4">
      <button id="btn-buscar" type="button" class="btn btn-secondary btn-full-width-center">Buscar</button>
    </div>
  </div>
    <div class="col-md-12 bloco-centro">
      <div class="row">
      <div class="col-md-6">
        <label class="label">Nome:</label>
        <label id="label-nome" class="label espacamento">Felipe Augusto</label>
      </div>

      <div class="col-md-6">
        <label class="label">Semestre:</label>
        <label id="label-semestre" class="label espacamento">6. Semestre</label>
      </div>

      <div class="col-md-6">
        <label class="label">Curso:</label>
        <label id="label-curso" class="label espacamento">ADS</label>
      </div>

      <div class="col-md-6">
        <label class="label">Período:</label>
        <label id="label-periodo" class="label espacamento">Noite</label>
      </div>
      </div>
    </div>
</form>