<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>Aluno</h1>
    </div>
  </div>
  <form id="form-aluno">
    <div class="row row-margin">

      <div class="col-md-8">
        <label for="input-ra">RA:</label>
        <input type="text" class="form-control" id="input-ra">
      </div>

      <div class="col-md-4">
        <button id="btn-buscar" type="button" class="btn btn-info btn-full-width">Buscar</button>
      </div>
    </div>
      <div class="col-md-12 bloco-centro">

        <h3>Informações</h3>

        <div class="row">

        <div class="col-md-6">
          <label for="input-email" class="label-block">Nome:</label>
          <label for="input-email" class="label-block">Felipe Augusto de Oliveira</label>
        </div>

        <div class="col-md-6">
          <label for="input-email" class="label-block">Semestre:</label>
          <label for="input-email" class="label-block">6. Semestre</label>
        </div>

        <div class="col-md-6">
          <label for="input-email" class="label-block">Curso:</label>
          <label for="input-email" class="label-block">ADS - Análise e Desenvolvimento de Sistemas</label>
        </div>

        <div class="col-md-6">
          <label for="input-email" class="label-block">Período:</label>
          <label for="input-email" class="label-block">Noite</label>
        </div>
        </div>
      </div>
  </form>
</div>