<nav class="main-menu">
    <div class="scrollbar" id="style-1">
        <ul>
            <li>
                <div class="item">
                    <i class="fa fa-bar-chart" style="color: white"></i>
                    <input class="nav-text" type="checkbox" id="check-gerenciar">
                    <label class="nav-text" for="check-gerenciar">Gerenciar Estágios</label>
                    <ul>
                        <li><a routerLink="gerenciar-estagios/estatisticas">Estatísticas</a></li>
                        <li><a routerLink="gerenciar-estagios/entrega-relatorio">Entrega de Relatórios</a></li>
                    </ul>
                </div>
            </li>
        </ul>
        <ul>
            <li>
                <div class="item">
                    <i class="fa fa-graduation-cap" style="color: white"></i>
                    <input class="nav-text" type="checkbox" id="check-aluno">
                    <label class="nav-text" for="check-aluno">Aluno</label>
                    <ul>
                        <li><a routerLink="aluno/visualizar-estagio">Visualizar Estágio</a></li>
                        <li><a routerLink="aluno/relatorio-parcial">Relatório Parcial</a></li>
                        <li><a routerLink="aluno/validar-horas-estagio" style="font-size: 12px !important;">Validar Horas de Estágio</a></li>
                    </ul>
                </div>
            </li>
        </ul>

        <ul>
            <li>
                <div class="item">
                    <i class="fa fa-address-card" style="color: white"></i>
                    <input class="nav-text" type="checkbox" id="check-cadastrar">
                    <label class="nav-text" for="check-cadastrar">Cadastrar</label>
                    <ul>
                        <li><a routerLink="cadastrar/aluno">Aluno</a></li>
                        <li><a routerLink="cadastrar/empresa">Empresa</a></li>
                    </ul>
                </div>
            </li>
        </ul>

        <ul>
            <li>
                <div class="item">
                    <i class="fa fa-search" style="color: white"></i>
                    <input class="nav-text" type="checkbox" id="check-consultar">
                    <label class="nav-text" for="check-consultar">Consultar</label>
                    <ul>
                        <li><a routerLink="consultar/alunos">Alunos</a></li>
                        <li><a routerLink="consultar/contratos">Contratos</a></li>
                        <li><a routerLink="consultar/empresas">Empresas</a></li>
                        <!-- <li><a class="item-sub" routerLink="consultar/relatorios">Relatórios</a></li> -->
                    </ul>
                </div>
            </li>
        </ul>
        <ul>
            <li>
                <div class="item">
                    <i class="fa fa-bookmark" style="color: white"></i>
                    <input class="nav-text" type="checkbox" id="check-associar">
                    <label class="nav-text" for="check-associar">Associar</label>
                    <ul>
                        <li><a routerLink="associar/contrato">Contrato</a></li>
                    </ul>
                </div>
            </li>
        </ul>
    </div>
</nav>