<nav class="main-menu">
  <div class="scrollbar" id="style-1">
    <div class="espacamento"></div>
    <ul>
      <li>
        <div class="item">
          <i class="fa fa-graduation-cap" style="color: white"></i>
          <input class="nav-text" type="checkbox" id="check-estagio">
          <label class="nav-text" for="check-estagio">Estágio</label>
          <ul>
            <li><a class="item-sub" href="estagio/tipo-atividade">Tipo de Atividade</a></li>
            <li><a class="item-sub" href="estagio/relatorio-parcial">Relatório Parcial</a></li>
          </ul>
        </div>
      </li>
    </ul>

    <ul>
      <li>
        <div class="item">
          <i class="fa fa-address-card" style="color: white"></i>
          <input class="nav-text" type="checkbox" id="check-cadastrar">
          <label class="nav-text" for="check-cadastrar">Cadastrar</label>
          <ul>
            <li><a class="item-sub" href="cadastrar/aluno">Aluno</a></li>
            <li><a class="item-sub" href="cadastrar/empresa">Empresa</a></li>
            <li><a class="item-sub" href="cadastrar/relatorio">Relatório</a></li>
          </ul>
        </div>
      </li>
    </ul>

    <ul>
      <li>
        <div class="item">
          <i class="fa fa-search" style="color: white"></i>
          <input class="nav-text" type="checkbox" id="check-consultar">
          <label class="nav-text" for="check-consultar">Consultar</label>
          <ul>
            <li><a class="item-sub" href="consultar/alunos">Alunos</a></li>
            <li><a class="item-sub" href="consultar/contratos">Contratos</a></li>
            <li><a class="item-sub" href="consultar/empresas">Empresas</a></li>
            <li><a class="item-sub" href="consultar/relatorios">Relatórios</a></li>
          </ul>
        </div>
      </li>
    </ul>

    <ul>
      <li>
        <div class="item">
          <i class="fa fa-bookmark" style="color: white"></i>
          <input class="nav-text" type="checkbox" id="check-associar">
          <label class="nav-text" for="check-associar">Associar</label>
          <ul>
            <li><a class="item-sub" href="contrato/associar">Contrato</a></li>
          </ul>
        </div>
      </li>
    </ul>


    <!--
    <li>
      <a href="http://startific.com">
        <i class="fa fa-user fa-lg"></i>
        <span class="nav-text">Login</span>
      </a>
    </li>

    <li>
      <a href="http://startific.com">
        <i class="fa fa-envelope-o fa-lg"></i>
        <span class="nav-text">Contact</span>
      </a>
    </li>

  -->

  </div>
</nav>