<nav class="main-menu">
  <div class="scrollbar" id="style-1">
    <div class="espacamento"></div>
    <ul>
      <li>
        <div class="item">
          <i class="fa fa-graduation-cap" style="color: white"></i>
          <input class="nav-text" type="checkbox" id="check-estagio">
          <label class="nav-text" for="check-estagio">Aluno</label>
          <ul>
            <li><a class="item-sub" routerLink="aluno/gerenciar-estagios">Gerenciar Estágios</a></li>
            <li><a class="item-sub" routerLink="estagio/relatorio-parcial">Relatório Parcial</a></li>
            <li><a class="item-sub" routerLink="estagio/tipo-atividade">Tipo Atividade</a></li>
          </ul>
        </div>
      </li>
    </ul>

    <ul>
      <li>
        <div class="item">
          <i class="fa fa-address-card" style="color: white"></i>
          <input class="nav-text" type="checkbox" id="check-cadastrar">
          <label class="nav-text" for="check-cadastrar">Cadastrar</label>
          <ul>
            <li><a class="item-sub" routerLink="cadastrar/aluno">Aluno</a></li>
            <li><a class="item-sub" routerLink="cadastrar/empresa">Empresa</a></li>
          </ul>
        </div>
      </li>
    </ul>

    <ul>
      <li>
        <div class="item">
          <i class="fa fa-search" style="color: white"></i>
          <input class="nav-text" type="checkbox" id="check-consultar">
          <label class="nav-text" for="check-consultar">Consultar</label>
          <ul>
            <li><a class="item-sub" routerLink="consultar/alunos">Alunos</a></li>
            <li><a class="item-sub" routerLink="consultar/contratos">Contratos</a></li>
            <li><a class="item-sub" routerLink="consultar/empresas">Empresas</a></li>
            <li><a class="item-sub" routerLink="consultar/relatorios">Relatórios</a></li>
          </ul>
        </div>
      </li>
    </ul>

    <ul>
      <li>
        <div class="item">
          <i class="fa fa-bookmark" style="color: white"></i>
          <input class="nav-text" type="checkbox" id="check-associar">
          <label class="nav-text" for="check-associar">Associar</label>
          <ul>
            <li><a class="item-sub" routerLink="contrato/associar">Contrato</a></li>
          </ul>
        </div>
      </li>
    </ul>
  </div>
</nav>