<menu></menu>
<div class="container">
    <div class="row">
      <div class="col-md-9">
        <h1>Consultar {{ titulo }}</h1>
      </div>
    </div>
    <form id="form-cadastro">
      <div class="row row-margin">
  
        <div class="col-md-3">
          <label for="input-nome">RA:</label>
          <input type="text" class="form-control" id="input-nome">
        </div>
  
        <div class="col-md-3">
          <div class="dropdown">
            <label for="dropdown-empresa" class="label-block">Empresa:</label>
            <button id="dropdown-empresa" class="btn btn-primary dropdown-toggle btn-full-width" type="button"
              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Selecione
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdown-empresa">
              <a class="dropdown-item" href="">Fatec SO</a>
              <a class="dropdown-item" href="">Fatec SP</a>
            </div>
          </div>
        </div>

        <div class="col-md-3">
          <label for="input-data-inicio" class="label-block">Data Início:</label>
          <input type="date" class="form-control" id="input-data-inicio">
        </div>

        <div class="col-md-3">
          <label for="input-data-fim" class="label-block">Data Fim:</label>
          <input type="date" class="form-control" id="input-data-fim">
        </div>
      </div>
  
      <div class="row row-margin">
  
        <div class="col-md-3">
          <div class="dropdown">
            <label for="dropdown-status" class="label-block">Status:</label>
            <button id="dropdown-status" class="btn btn-primary dropdown-toggle btn-full-width" type="button"
              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Selecione
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdown-periodo">
              <a class="dropdown-item" href="">Em aprovação</a>
              <a class="dropdown-item" href="">Finalizado</a>
            </div>
          </div>
        </div>
  
        <div class="col-md-3">
          <label for="input-agente-integracao">Agente de Integração:</label>
          <input type="text" class="form-control" id="input-agente-integracao" >
        </div>
  
        <div class="col-md-3">
          <div class="dropdown">
            <label for="dropdown-possui-relatorio" class="label-block">Relatório Pendente:</label>
            <button id="dropdown-possui-relatorio" class="btn btn-primary dropdown-toggle btn-full-width" type="button"
              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Selecione
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdown-possui-relatorio">
              <a class="dropdown-item" href="">Sim</a>
              <a class="dropdown-item" href="">Não</a>
            </div>
          </div>
        </div>

        <div class="col-md-3">
          <div class="dropdown">
            <label for="dropdown-curso" class="label-block">Curso:</label>
            <button id="dropdown-curso" class="btn btn-primary dropdown-toggle btn-full-width" type="button"
              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Selecione
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdown-curso">
              <a class="dropdown-item" href="">Análise e Desenvolvimento de Sistemas</a>
            </div>
          </div>
        </div>
        <div class="col-md-12">
          <button id="btn-pesquisar" type="button" class="btn btn-info">Pesquisar</button>
        </div>
      </div>
    </form>
  
    <table class="table table-bordered">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Nome Aluno</th>
          <th scope="col">Empresa Associada</th>
          <th scope="col">Curso</th>
          <th scope="col">Id Contrato</th>
          <th scope="col">Data Início</th>
          <th scope="col">Data Fim</th>
          <th scope="col">Agente de Integração</th>
          <th scope="col">Supervisor</th>
          <th scope="col">Ações</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Felipe Augusto de Oliveira</td>
          <td>Toyota</td>
          <td>ADS</td>
          <td>1234</td>
          <td>05/05/2015</td>
          <td>05/05/2016</td>
          <td>CIEE</td>
          <td>Maria Angélica</td>
          <td></td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <th scope="row">4</th>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <th scope="row">5</th>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      </tbody>
    </table>
  </div>