<div class="container" style="margin-top:150px">
  <div class="row">
    <div class="col-md-9">
      <p class="titulo">Relatório Parcial Semestral</p>
      <h4>Lei 11.788/08 Art. 7</h4>
      <br />
    </div>
  </div>
  <form #relatorioParcialForm ="ngForm" id="form-relatorio-parcial">
    <div class="row row-margin">

      <div class="col-md-3">
        <label for="nome">Estagiário(a):</label>
        <label name="nome" id="nome" [(ngModel)]="aluno.nome" class="label-block" ngDefaultControl>{{ aluno.nome }}</label>
      </div>

      <div class="col-md-3">
        <label for="ra">RA:</label>
        <label name="ra" [(ngModel)]="aluno.ra" id="ra" class="label-block" ngDefaultControl>{{ aluno.ra }}</label>
      </div>

      <div class="col-md-3">
        <label for="curso">Curso:</label>
        <label name="curso" [(ngModel)]="aluno.curso" id="curso" class="label-block" ngDefaultControl>{{ aluno.curso }}</label>
      </div>

      <div class="col-md-3">
        <label for="periodo">Período:</label>
        <label name="periodo" [(ngModel)]="aluno.periodo" id="periodo" class="label-block" ngDefaultControl>{{ aluno.periodo }}</label>
      </div>

      <div class="col-md-3">
        <label for="supervisor">Supervisor(a) de Estágio:</label>
        <label name="supervisor" [(ngModel)]="contrato.supervisorEstagio" id="supervisor" class="label-block" ngDefaultControl>{{ contrato.supervisorEstagio }}</label>
      </div>

      <div class="col-md-3">
        <label for="vigencia">Vigência de Estágio:</label>
        <label name="vigencia" [(ngModel)]="contrato.dataInicio" id="vigencia" class="label-block" ngDefaultControl>{{ contrato.dataFim | date: 'dd/MM/yyyy'}}</label>
      </div>


      <div class="col-md-3">
        <label for="periodo-avaliacao">Período de Avaliação:</label>
        <label name="periodos-avaliacao" id="periodo-avaliacao" class="label-block">{{ dataPeriodoInicio }}  até {{ dataPeriodoFim }}</label>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12 bloco-atividade">
        <h4>Atividades auxiliadas no estágio de acordo com o termo de compromisso de estágio:</h4>
        <textarea name="atividadesAuxiliadas" [(ngModel)]="relatorioParcial.atividadesAuxiliadas" class="form-control" id="atividade" rows="3"></textarea>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12 bloco-atividade">
        <h4>Atividades Realizadas no Estágio:</h4>
        <br />
        <label for="acordo-plano" class="check">Estão de Acordo com o plano de atividades ?</label>
        <input [(ngModel)]="relatorioParcial.acordoPlanoAtividades" [value]="true" type="radio" class="check" id="acordo-plano-sim" name="plano">Sim
        <input [(ngModel)]="relatorioParcial.acordoPlanoAtividades" [value]="false" type="radio" class="check" id="acordo-plano-nao" name="plano">Não
        <br />
        <br />
        <label for="compativel-curso" class="check">São compatíveis com o curso ? </label>
        <input [(ngModel)]="relatorioParcial.compativelCurso" [value]="true" type="radio" class="check" id="compativel-sim" name="compativel-curso">Sim
        <input [(ngModel)]="relatorioParcial.compativelCurso" [value]="false" type="radio" class="check" id="compativel-nao" name="compativel-curso">Não
        <br />
        <br />
        <label for="semestre-cursado" class="check">São compatíveis com o semestre cursado ? </label>
        <input [(ngModel)]="relatorioParcial.compativelSemestre" [value]="true" type="radio" class="check" id="cursado-sim" name="semestre-cursado">Sim
        <input [(ngModel)]="relatorioParcial.compativelSemestre" [value]="false" type="radio" class="check" id="cursado-nao" name="semestre-cursado">Não
        <br />
        <br />
        <label for="permite-aplicar" class="check">Permite que aplique o conhecimento obtido no curso ? </label>
        <input [(ngModel)]="relatorioParcial.conhecimentoObtido" [value]="true" type="radio" class="check" id="aplicar-sim" name="permite-aplicar">Sim
        <input [(ngModel)]="relatorioParcial.conhecimentoObtido" [value]="false" type="radio" class="check" id="aplicar-nao" name="permite-aplicar">Não
        <br />
        <br />
        <label for="instalacoes-adequadas" class="check">As instalações da parte concedente são adequadas à realização
          do estágio ? </label>
        <input [(ngModel)]="relatorioParcial.instalacoesAdequadas" [value]="true" type="radio" class="check" id="instalacoes-sim" name="instalacoes-adequadas">Sim
        <input [(ngModel)]="relatorioParcial.instalacoesAdequadas" [value]="false" type="radio" class="check" id="instalacoes-nao" name="instalacoes-adequadas">Não
      </div>
    </div>

    <div class="row">
      <div class="col-md-12 bloco-atividade">
        <h4>Quando assinalado NÃO, justifique os motivos:</h4>
        <textarea name="motivosNao" [(ngModel)]="relatorioParcial.motivosNao" class="form-control" id="atividade" rows="3"></textarea>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12 bloco-atividade">
        <h4>Apresente as dificuldades encontradas na realização do estágio:</h4>
        <textarea name="dificuldades" [(ngModel)]="relatorioParcial.dificuldades" class="form-control" id="atividade" rows="3"></textarea>
      </div>
    </div>
  </form>
  <div class="col-md-12 d-flex justify-content-end" style="margin-bottom:30px">
    <button id="btn-imprimir" type="button" class="btn btn-secondary" (click)="imprimirRelatorioParcial()">Imprimir</button>
    <button id="btn-limpar" type="button" class="btn btn-secondary" (click)="limpar(relatorioParcialForm)" >Limpar</button>
    <button id="btn-salvar" type="button" class="btn btn-danger" (click)="salvarRelatorioParcial(modalPosRequisicao, relatorioParcialForm)">Salvar</button>
  </div>
</div>

<ng-template #modalPosRequisicao>
  <div class="modal-body">
    <div class="row row-margin">
      <div class="col-md-12">
        <h4 class="modal-title align-center">{{ mensagemPosReq }}</h4>
      </div>
      <div class="col-md-12 d-flex justify-content-center">
        <button id="btnOK" type="button" class="btn btn-danger" (click)="modalPosReq.hide()" style="margin-top:10px; width: 100px">Ok</button>
      </div>
    </div>
  </div>
</ng-template>