<menu></menu>
<div class="container">
  <div class="row">
    <div class="col-md-9">
      <h1>Relatório Final de Estágio</h1>
    </div>
  </div>
  <form id="form-relatorio-final">
    <div class="row row-margin">

      <div class="col-md-12 indentificacao-border">
        <p>Identificação do Estagiário</p>
      </div>

      <div class="col-md-3">
        <label for="nome">Estagiário(a):</label>
        <label id="nome" class="label-block">Felipe Augusto de Oliveira</label>
      </div>

      <div class="col-md-3">
        <label for="ra">RA:</label>
        <label id="ra" class="label-block">0030481521009</label>
      </div>

      <div class="col-md-3">
        <label for="curso">Curso:</label>
        <label id="curso" class="label-block">Análise e Desenvolvimento de Sistemas</label>
      </div>

      <div class="col-md-3">
        <label for="turno">Turno:</label>
        <label id="turno" class="label-block">Noturno</label>
      </div>

      <div class="col-md-12 indentificacao-border">
        <p>Identificação da Organização Concedente de Estágio Atual</p>
      </div>

      <div class="col-md-3">
        <label for="razao-social">Razão Social:</label>
        <label id="razao-social" class="label-block">Ventron Informática</label>
      </div>

      <div class="col-md-3">
        <label for="ramo-atividade">Ramo de Atividade da Organização:</label>
        <label id="ramo-atividade" class="label-block">Desenvolvimento de Software</label>
      </div>

      <div class="col-md-3">
        <label for="nome-orientador">Nome Orientador(a) de Estágio:</label>
        <label id="nome-orientador" class="label-block">Maria Angélica</label>
      </div>

      <div class="col-md-3">
        <label for="cargo-orientador">Cargo Orientador de Estágio:</label>
        <label id="cargo-orientador" class="label-block">Team Leader</label>
      </div>

      <div class="col-md-6">
        <br/>
        <label for="contatos-orientador">Contato Orientador de Estágio:</label>
        <label id="contatos-orientador" class="label-block">maria-angelica@fatec.com.br</label>
      </div>

      <div class="col-md-12">
        <app-historico-estagio></app-historico-estagio>
      </div>

    </div>

    <app-adicionar-registro-estagio></app-adicionar-registro-estagio>

  </form>
</div>