<form id="form-aluno">

    <div class="row">
        <div class="col-md-12">
            <h3>Empresa</h3>
        </div>
    </div>
    <div class="row row-margin">

        <div class="col-md-8">
            <label for="razao" class="label-block">Razão Social:</label>
            <select id="empresa" name="empresa" [(ngModel)]="empresa.razaoSocial" class="form-control">
                <option *ngFor="let empresa of empresas" [value]="empresa">{{ empresa.razaoSocial }} </option>
            </select>
        </div>
        <div class="col-md-4">
            <button id="btn-buscar" type="button" class="btn btn-secondary btn-full-width-center">Buscar</button>
        </div>
    </div>

    <div class="col-md-12 bloco-centro">
        <div class="row">
            <div class="col-md-12">
                <label for="input-email" class="label">Cidade:</label>
                <label for="input-email" class="label espacamento">Sorocaba</label>
            </div>
            <div class="col-md-12">
                <label for="telefone" class="label">Telefone:</label>
                <label for="telefone" class="label espacamento">(15) 3228-2324</label>
            </div>
        </div>
    </div>
</form>