<form id="form-aluno">

    <div class="row">
        <div class="col-md-12">
            <h3>Empresa</h3>
        </div>
    </div>
    <div class="row row-margin">

        <div class="col-md-8">
            <label for="razao" class="label-block">Razão Social:</label>
            <select id="empresa" name="empresa" [(ngModel)]="empresa.razaoSocial" class="form-control">
                <option *ngFor="let empresa of empresas" [value]="empresa.razaoSocial">{{ empresa.razaoSocial }} </option>
            </select>
        </div>
        <div class="col-md-4">
            <button id="btn-buscar" type="button" class="btn btn-secondary btn-full-width-center" (click)="buscaPorRazaoSocial()">Buscar</button>
        </div>
    </div>

    <div class="col-md-12 bloco-centro">
        <div class="row">
            <div class="col-md-12">
                <label class="label">Cidade:</label>
                <label id="label-cidade" name="curso" [(ngModel)]="empresa.cidade" class="label espacamento" ngDefaultControl>{{ empresa.cidade }}</label>
            </div>
            <div class="col-md-12">
                <label class="label">Telefone:</label>
                <label id="label-telefone" name="curso" [(ngModel)]="empresa.telefone" class="label espacamento" ngDefaultControl>{{ empresa.telefone }}</label>
            </div>
        </div>
    </div>
</form>