<div class="container" style="margin-top:150px">
  <div class="row">
    <div class="col-md-9">
      <p class="titulo">{{ titulo }}</p>
    </div>
  </div>
  <form id="form-cadastro">
    <div class="row row-margin">

      <div class="col-md-3">
        <label for="input-nome">RA:</label>
        <input type="text" class="form-control" id="input-nome">
      </div>

      <div class="col-md-3">
        <div class="dropdown">
          <label for="dropdown-empresa" class="label-block">Empresa:</label>
          <button id="dropdown-empresa" class="btn btn-primary dropdown-toggle btn-full-width" type="button"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Selecione
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdown-empresa">
            <a class="dropdown-item" href="">Fatec SO</a>
            <a class="dropdown-item" href="">Fatec SP</a>
          </div>
        </div>
      </div>

      <div class="col-md-3">
        <label for="input-data-inicio" class="label-block">Data Início:</label>
        <input type="date" class="form-control" id="input-data-inicio">
      </div>

      <div class="col-md-3">
        <label for="input-data-fim" class="label-block">Data Fim:</label>
        <input type="date" class="form-control" id="input-data-fim">
      </div>
    </div>

    <div class="row row-margin">

      <div class="col-md-3">
        <div class="dropdown">
          <label for="dropdown-status" class="label-block">Status:</label>
          <button id="dropdown-status" class="btn btn-primary dropdown-toggle btn-full-width" type="button"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Selecione
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdown-periodo">
            <a class="dropdown-item" href="">Em aprovação</a>
            <a class="dropdown-item" href="">Finalizado</a>
          </div>
        </div>
      </div>

      <div class="col-md-3">
        <label for="input-agente-integracao">Agente de Integração:</label>
        <input type="text" class="form-control" id="input-agente-integracao" >
      </div>

      <div class="col-md-3">
        <div class="dropdown">
          <label for="dropdown-possui-relatorio" class="label-block">Relatório Pendente:</label>
          <button id="dropdown-possui-relatorio" class="btn btn-primary dropdown-toggle btn-full-width" type="button"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Selecione
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdown-possui-relatorio">
            <a class="dropdown-item" href="">Sim</a>
            <a class="dropdown-item" href="">Não</a>
          </div>
        </div>
      </div>

      <div class="col-md-3">
        <div class="dropdown">
          <label for="dropdown-curso" class="label-block">Curso:</label>
          <button id="dropdown-curso" class="btn btn-primary dropdown-toggle btn-full-width" type="button"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Selecione
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdown-curso">
            <a class="dropdown-item" href="">Análise e Desenvolvimento de Sistemas</a>
          </div>
        </div>
      </div>
      <div class="col-md-12">
        <button id="btn-pesquisar" type="button" class="btn btn-secondary">Pesquisar</button>
      </div>
    </div>
  </form>

  <table class="table table-bordered">
    <thead>
        <tr>
          <th *ngFor="let cabecalho of cabecalhoElementos" scope="col">{{ cabecalho }}</th>
        </tr>
    </thead>
    <tbody>
      <tr *ngFor="let contrato of contratos">
        <td>{{ contrato.nomeAluno }}</td>
        <td>{{ contrato.empresaAssociada }}</td>
        <td>{{ contrato.curso }}</td>
        <td>{{ contrato.dataInicio | date: 'dd/MM/yyyy' }}</td>
        <td>{{ contrato.dataFim | date: 'dd/MM/yyyy' }}</td>
        <td>{{ contrato.status }}</td>
        <td>{{ contrato.agenteIntegracao }}</td>
        <td>{{ contrato.supervisor }}</td>
        <td style="text-align: center; width: 100px">
            <a id="visualizar" title="Visualizar" (click)="openModalVisualizar(modalVisualizar, contrato.contratoId)" class="fa fa-eye"></a>
            <a id="editar" title="Editar" (click)="editarContrato(contrato.contratoId)" class="fa fa-edit" style="padding-left: 10px"></a>
            <a id="excluir" title="Excluir" (click)="openModalConfirm(modalConfirm, contrato.contratoId)" class="fa fa-trash" style="padding-left: 10px"></a>
        </td>
      </tr>
   </tbody>
   </table>
</div>

<ng-template #modalVisualizar>
<div class="modal-header">
  <h4 class="modal-title pull-left">Visualizar Contrato</h4>
  <button type="button" class="close pull-right" aria-label="Close" (click)="modalVis.hide()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form id="form-contrato-visualizacao">
    <div class="row row-margin">
  
      <div class="col-md-12 identificacao-titulo">
        Aluno
      </div>
  
      <div class="col-md-4">
        <label for="ra" class="bold">RA:</label>
        <label name="ra" id="ra" class="label-block" style="margin-bottom: 20px">{{ aluno.ra }}</label>
      </div>
  
      <div class="col-md-4">
        <label for="nome" class="bold">Nome:</label>
        <label name="nome" id="nome" class="label-block">{{ aluno.nome }}</label>
      </div>
  
      <div class="col-md-4">
        <label for="curso" class="bold">Curso:</label>
        <label name="curso" id="curso" class="label-block">{{ aluno.curso }}</label>
      </div>
  
      <div class="col-md-4">
        <label for="semestre" class="bold">Semestre:</label>
        <label name="semestre" id="semestre" class="label-block" style="margin-bottom: 20px">{{ aluno.semestre }}</label>
      </div>
  
      <div class="col-md-4">
        <label for="periodo" class="bold">Período:</label>
        <label name="periodo" id="periodo" class="label-block">{{ aluno.periodo }}</label>
      </div>
  
      <div class="col-md-12 identificacao-titulo">
        Empresa
      </div>
  
      <div class="col-md-4">
        <label for="razao" class="bold">Razão Social:</label>
        <label name="razao" id="razao" class="label-block">{{ empresa.razaoSocial }}</label>
      </div>
  
      <div class="col-md-4">
        <label for="contato" class="bold">Contato:</label>
        <label name="contato" id="contato" class="label-block">{{ empresa.contatoResponsavel }}</label>
      </div>
  
      <div class="col-md-4">
        <label for="telefone" class="bold">Telefone:</label>
        <label name="telefone" id="telefone" class="label-block">{{ empresa.telefone }}</label>
      </div>
  
      <div class="col-md-4">
        <label for="email" class="bold">E-Mail:</label>
        <label name="email" id="email" class="label-block">{{ empresa.email }}</label>
      </div>
  
      <div class="col-md-12 identificacao-border">Dados contrato</div> 
  
      <div class="col-md-4">
        <label for="dtInicio" class="bold">Data Início:</label>
        <label name="dtInicio" id="dtInicio" class="label-block">{{ contrato.dataInicio | date: 'dd/MM/yyyy' }}</label>
      </div>
  
      <div class="col-md-4">
        <label for="dtFim" class="bold">Data Fim:</label>
        <label name="dtFim" id="dtFim" class="label-block">{{ contrato.dataFim | date: 'dd/MM/yyyy' }}</label>
      </div>
  
      <div class="col-md-4">
        <label for="agente" class="bold">Agente de integração:</label>
        <label name="agente" id="agente" class="label-block">{{ contrato.agenteIntegracao }}</label>
      </div>
  
      <div class="col-md-4">
        <label for="valorBolsa" class="bold">Valor da Bolsa:</label>
        <label name="valorBolsa" id="valorBolsa" class="label-block">R$: {{ contrato.valorBolsa }}</label>
      </div>
  
      <div class="col-md-4">
        <label for="supervisor" class="bold">Supervisor:</label>
        <label name="supervisor" id="supervisor" class="label-block">{{ contrato.supervisorEstagio }}</label>
      </div>
  
      <div class="col-md-4">
        <label for="cargoSupervisor" class="bold">Cargo Supervisor:</label>
        <label name="cargoSupervisor" id="cargoSupervisor" class="label-block">{{ contrato.cargoSupervisorEstagio }}</label>
      </div>
  
      <div class="col-md-4">
        <label for="observacao" class="bold">Observação:</label>
        <label name="observacao" id="observacao" class="label-block">{{ contrato.observacao }}</label>
      </div>
    </div>
  </form>
</div>
</ng-template>

<ng-template #modalConfirm>
<div class="modal-body text-center">
  <p>{{ mensagemModal }}</p>
  <button type="button" class="btn btn-danger" (click)="confirmarExclusao()" *ngIf="btnSim">Sim</button>
  <button type="button" class="btn btn-danger" (click)="cancelarExclusao()" *ngIf="btnNao" style="margin-left: 10px">Não</button>
  <button type="button" class="btn btn-danger" (click)="cancelarExclusao()" *ngIf="btnOk" style="margin-top:10px; width: 100px">Ok</button>
</div>
</ng-template>