<div class="container" style="margin-top:150px">
  <div class="row">
    <div class="col-md-9">
      <p class="titulo">Consultar {{ titulo }}</p>
    </div>
  </div>
  <form id="form-cadastro">
    <div class="row row-margin">

      <div class="col-md-3">
        <label for="input-nome">RA:</label>
        <input type="text" class="form-control" id="input-nome">
      </div>

      <div class="col-md-3">
        <div class="dropdown">
          <label for="dropdown-empresa" class="label-block">Empresa:</label>
          <button id="dropdown-empresa" class="btn btn-primary dropdown-toggle btn-full-width" type="button"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Selecione
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdown-empresa">
            <a class="dropdown-item" href="">Fatec SO</a>
            <a class="dropdown-item" href="">Fatec SP</a>
          </div>
        </div>
      </div>

      <div class="col-md-3">
        <label for="input-data-inicio" class="label-block">Data Início:</label>
        <input type="date" class="form-control" id="input-data-inicio">
      </div>

      <div class="col-md-3">
        <label for="input-data-fim" class="label-block">Data Fim:</label>
        <input type="date" class="form-control" id="input-data-fim">
      </div>
    </div>

    <div class="row row-margin">

      <div class="col-md-3">
        <div class="dropdown">
          <label for="dropdown-status" class="label-block">Status:</label>
          <button id="dropdown-status" class="btn btn-primary dropdown-toggle btn-full-width" type="button"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Selecione
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdown-periodo">
            <a class="dropdown-item" href="">Em aprovação</a>
            <a class="dropdown-item" href="">Finalizado</a>
          </div>
        </div>
      </div>

      <div class="col-md-3">
        <label for="input-agente-integracao">Agente de Integração:</label>
        <input type="text" class="form-control" id="input-agente-integracao" >
      </div>

      <div class="col-md-3">
        <div class="dropdown">
          <label for="dropdown-possui-relatorio" class="label-block">Relatório Pendente:</label>
          <button id="dropdown-possui-relatorio" class="btn btn-primary dropdown-toggle btn-full-width" type="button"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Selecione
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdown-possui-relatorio">
            <a class="dropdown-item" href="">Sim</a>
            <a class="dropdown-item" href="">Não</a>
          </div>
        </div>
      </div>

      <div class="col-md-3">
        <div class="dropdown">
          <label for="dropdown-curso" class="label-block">Curso:</label>
          <button id="dropdown-curso" class="btn btn-primary dropdown-toggle btn-full-width" type="button"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Selecione
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdown-curso">
            <a class="dropdown-item" href="">Análise e Desenvolvimento de Sistemas</a>
          </div>
        </div>
      </div>
      <div class="col-md-12">
        <button id="btn-pesquisar" type="button" class="btn btn-secondary">Pesquisar</button>
      </div>
    </div>
  </form>

  <table class="table table-bordered">
    <thead>
        <tr>
          <th *ngFor="let cabecalho of cabecalhoElementos" scope="col">{{ cabecalho }}</th>
        </tr>
    </thead>
    <tbody>
      <tr *ngFor="let contrato of contratos">
        <td>{{ contrato.nomeAluno }}</td>
        <td>{{ contrato.empresaAssociada }}</td>
        <td>{{ contrato.curso }}</td>
        <td>{{ contrato.dataInicio | date: 'dd/MM/yyyy' }}</td>
        <td>{{ contrato.dataFim | date: 'dd/MM/yyyy' }}</td>
        <td>{{ contrato.status }}</td>
        <td>{{ contrato.agenteIntegracao }}</td>
        <td>{{ contrato.supervisor }}</td>
        <td style="text-align: center">
            <a id="visualizar" title="Visualizar" (click)="openModalVisualizar(modalVisualizar)" class="fa fa-eye"></a>
            <a id="editar" title="Editar" (click)="editarContrato()" class="fa fa-edit" style="padding-left: 10px"></a>
            <a id="excluir" title="Excluir" (click)="openModalConfirm(modalConfirm)" class="fa fa-trash" style="padding-left: 10px"></a>
        </td>
      </tr>
   </tbody>
   </table>
</div>

<ng-template #modalVisualizar>
<div class="modal-header">
  <h4 class="modal-title pull-left">Visualizar Contrato</h4>
  <button type="button" class="close pull-right" aria-label="Close" (click)="modalVis.hide()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <app-visualizar-contrato></app-visualizar-contrato>
</div>
</ng-template>

<ng-template #modalConfirm>
<div class="modal-body text-center">
  <p>Tem certeza que deseja excluir este registro ?</p>
  <button type="button" class="btn btn-danger" (click)="confirm()">Sim</button>
  <button type="button" class="btn btn-danger" (click)="decline()" style="margin-left: 10px">Não</button>
</div>
</ng-template>