<menu></menu>
<div class="container">
  <div class="row">
    <div class="col-md-9">
      <h1>Cadastrar {{ titulo }}</h1>
    </div>
  </div>
  <form id="form-cadastro">
    <div class="row row-margin">

      <div class="col-md-3">
        <label for="input-ra">RA:</label>
        <input type="text" class="form-control" id="input-ra">
      </div>

      <div class="col-md-3">
        <label for="input-nome">Nome:</label>
        <input type="text" class="form-control" id="input-nome">
      </div>

      <div class="col-md-3">
        <div class="dropdown">
          <label for="dropdown-curso" class="label-block">Curso:</label>
          <button id="dropdown-curso" class="btn btn-primary dropdown-toggle btn-full-width" type="button"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Selecione
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdown-curso">
            <a class="dropdown-item" href="">ADS - Análise e Desenvolvimento de Sistemas</a>
          </div>
        </div>
      </div>

      <div class="col-md-3">
        <div class="dropdown">
          <label for="dropdown-semestre" class="label-block">Semestre:</label>
          <button id="dropdown-semestre" class="btn btn-primary dropdown-toggle btn-full-width" type="button"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Selecione
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdown-semestre">
            <a class="dropdown-item" href="">1. Semestre</a>
            <a class="dropdown-item" href="">2. Semestre</a>
            <a class="dropdown-item" href="">3. Semestre</a>
            <a class="dropdown-item" href="">4. Semestre</a>
            <a class="dropdown-item" href="">5. Semestre</a>
            <a class="dropdown-item" href="">6. Semestre</a>
          </div>
        </div>
      </div>
    </div>

    <div class="row row-margin">

      <div class="col-md-3">
        <div class="dropdown">
          <label for="dropdown-periodo" class="label-block">Período:</label>
          <button id="dropdown-semestre" class="btn btn-primary dropdown-toggle btn-full-width" type="button"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Selecione
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdown-semestre">
            <a class="dropdown-item" href="">Manhã</a>
            <a class="dropdown-item" href="">Tarde</a>
            <a class="dropdown-item" href="">Noite</a>
          </div>
        </div>
      </div>

      <div class="col-md-3">
        <label for="input-email" class="label-block">Email:</label>
        <input type="email" class="form-control" id="input-email">
      </div>

      <div class="col-md-3">
        <label for="input-telefone" class="label-block">Telefone:</label>
        <input type="text" class="form-control" id="input-telefone">
      </div>

      <div class="col-md-3">
        <label for="checkbox-sexo" class="label-block">Sexo:</label>
        <div class="custom-control custom-radio custom-control-inline">
          <input type="radio" id="customRadioInline1" name="customRadioInline1" class="custom-control-input">
          <label class="custom-control-label" for="customRadioInline1">Masculino</label>
        </div>
        <div class="custom-control custom-radio custom-control-inline">
          <input type="radio" id="customRadioInline2" name="customRadioInline1" class="custom-control-input">
          <label class="custom-control-label" for="customRadioInline2">Feminino</label>
        </div>
      </div>
    </div>

    <div class="row row-margin">
      <div class="col-md-3">
        <label for="input-data-vestibular" class="label-block">Data Vestibular:</label>
        <input type="date" class="form-control" id="input-data-vestibular">
      </div>
    </div>
  </form>
  <button id="btn-salvar" type="button" class="btn btn-success">Salvar</button>
</div>