h1{
    margin-bottom: 20px;
}

#form-cadastro{
    border: 1px solid #ced4da;
    padding: 30px;
}

#btn-salvar{
    padding: 10px 30px 10px 30px;
    margin: 0 0 0 10px;
}

.titulo{
    font-family: 'Open Sans', Arial, sans-serif;
    font-style: italic;
    font-size: 35px;
    font-weight: bold;
    text-transform: uppercase;
    color: rgb(70, 69, 69);
}

.label-block{
    display: block !important;
}

.btn-full-width{
    width: 100%;
    text-align: left;
}

.row-margin{
    margin-bottom: 10px;
}

.espacamento-top{
    margin-top: 10px;
}

.align-center{
    text-align: center;
}

.asterisco{
    color: red;
    margin-right: 2px;
    margin-left: 1px;
}
/* Sobrescrita Bootstrap */

.btn-danger{
    background-color: #990000;
    color: white;
}

.btn-danger:hover{
    background-color: #c53030;
}

.dropdown-toggle::after {
    margin-left: 120px;
    border-top: .3em solid;
    border-right: .3em solid transparent;
    border-left: .3em solid transparent;
}

.dropdown-item:hover{
    background-color: rgb(93, 190, 235);
}

.btn-primary {
    color: rgb(0, 0, 0);
    background-color: #ffffff;
    border-color: #ced4da;
}