<form id="form-dados-estagio">
    <div class="row row-margin">
      <div class="col-md-12 identificacao-border">Estágiarios atuais na empresa</div> 
        <div class="col-md-12">
            <table class="table table-bordered">
                <thead class="alinhamento">
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nome</th>
                    <th scope="col">RA</th>
                    <th scope="col">Data Início</th>
                    <th scope="col">Curso</th>
                    <th scope="col">Semestre</th>
                    <th scope="col">Supervisor</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">1</th>
                    <td>Felipe Augusto de Oliveira</td>
                    <td>0030481521009</td>
                    <td>05/07/2018</td>
                    <td>ADS</td>
                    <td>6. Semestre</td>
                    <td>Diego Alves</td>
                  </tr>
                  <tr>
                    <th scope="row">2</th>
                    <td>José Antônio</td>
                    <td>0030481513009</td>
                    <td>01/08/2015</td>
                    <td>ADS</td>
                    <td>2. Semestre</td>
                    <td>Diego Alves</td>
                  </tr>
                  <tr>
                    <th scope="row">3</th>
                    <td>Luiz Carlos dos Santos</td>
                    <td>0030481718009</td>
                    <td>01/01/2016</td>
                    <td>ADS</td>
                    <td>4. Semestre</td>
                    <td>Diego Alves</td>
                  </tr>
                  <tr>
                    <th scope="row">4</th>
                    <td>Jamal da Silva</td>
                    <td>0030481718031</td>
                    <td>25/04/2018</td>
                    <td>ADS</td>
                    <td>5. Semestre</td>
                    <td>Diego Alves</td>
                  </tr>
                  <tr>
                    <th scope="row">5</th>
                    <td>Rafael dos Aires Manticos</td>
                    <td>0030481918051</td>
                    <td>25/04/2019</td>
                    <td>ADS</td>
                    <td>6. Semestre</td>
                    <td>Nathan Oliveira</td>
                  </tr>
                </tbody>
              </table>
          </div>
    </div>
  </form>