<div class="container" style="margin-top:150px">
  <div class="row">
    <div class="col-md-9">
      <p class="titulo">Consultar {{ titulo }}</p>
    </div>
    <div class="col-md-3">
      <button id="btn-cadastrar-aluno" type="button" class="btn btn-danger" (click)="getCadastrarAluno()">Cadastrar Aluno</button>
    </div>
  </div>
  <form id="form-cadastro">
    <div class="row row-margin">

      <div class="col-md-3">
        <label for="input-nome">Nome:</label>
        <input type="text" class="form-control" id="input-nome">
      </div>

      <div class="col-md-3">
        <label for="input-ra">RA:</label>
        <input type="text" class="form-control" id="input-ra">
      </div>

      <div class="col-md-3">
        <div class="dropdown">
          <label for="dropdown-curso" class="label-block">Curso:</label>
          <button id="dropdown-curso" class="btn btn-primary dropdown-toggle btn-full-width" type="button"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Selecione
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdown-curso">
            <a class="dropdown-item" href="">ADS - Análise e Desenvolvimento de Sistemas</a>
          </div>
        </div>
      </div>

      <div class="col-md-3">
        <div class="dropdown">
          <label for="dropdown-semestre" class="label-block">Semestre:</label>
          <button id="dropdown-semestre" class="btn btn-primary dropdown-toggle btn-full-width" type="button"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Selecione
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdown-semestre">
            <a class="dropdown-item" href="">1. Semestre</a>
            <a class="dropdown-item" href="">2. Semestre</a>
            <a class="dropdown-item" href="">3. Semestre</a>
            <a class="dropdown-item" href="">4. Semestre</a>
            <a class="dropdown-item" href="">5. Semestre</a>
            <a class="dropdown-item" href="">6. Semestre</a>
          </div>
        </div>
      </div>

    </div>

    <div class="row row-margin">

      <div class="col-md-3">
        <div class="dropdown">
          <label for="dropdown-periodo" class="label-block">Período:</label>
          <button id="dropdown-periodo" class="btn btn-primary dropdown-toggle btn-full-width" type="button"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Selecione
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdown-periodo">
            <a class="dropdown-item" href="">Manhã</a>
            <a class="dropdown-item" href="">Tarde</a>
            <a class="dropdown-item" href="">Noite</a>
          </div>
        </div>
      </div>

      <div class="col-md-3">
        <label for="input-number">Idade:</label>
        <input type="number" class="form-control" id="input-number" >
      </div>

      <div class="col-md-3">
        <div class="dropdown">
          <label for="dropdown-status" class="label-block">Status Relatório Estágio:</label>
          <button id="dropdown-status" class="btn btn-primary dropdown-toggle btn-full-width" type="button"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Selecione
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdown-status">
            <a class="dropdown-item" href="">Em Andamento</a>
            <a class="dropdown-item" href="">Finalizado</a>
            <a class="dropdown-item" href="">Bloqueado</a>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <button id="btn-pesquisar" type="button" class="btn btn-secondary">Pesquisar</button>
      </div>
    </div>
  </form>

  <table class="table table-bordered">
    <thead class="alinhamento">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nome</th>
        <th scope="col">RA</th>
        <th scope="col">Curso</th>
        <th scope="col">Semestre</th>
        <th scope="col">Período</th>
        <th scope="col">Idade</th>
        <th scope="col">Ações</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Felipe Augusto de Oliveira</td>
        <td>0030481521009</td>
        <td>ADS</td>
        <td>6. Semestre</td>
        <td>Noite</td>
        <td>28</td>
        <td style="text-align: center">
          <a id="visualizar" title="Visualizar" (click)="openModalVisualizar(modalVisualizar)" class="fa fa-eye"></a>
          <a id="editar" title="Editar" (click)="editarAluno()" class="fa fa-edit" style="padding-left: 15px"></a>
          <a id="excluir" title="Excluir" (click)="openModalConfirm(modalConfirm)" class="fa fa-trash" style="padding-left: 15px"></a>
        </td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <th scope="row">4</th>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <th scope="row">5</th>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    </tbody>
  </table>
</div>

<ng-template #modalVisualizar>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Visualizar Aluno</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalVis.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
      <app-visualizar-dados-aluno></app-visualizar-dados-aluno>
      <app-visualizar-estagios-aluno></app-visualizar-estagios-aluno>
  </div>
</ng-template>

<ng-template #modalConfirm>
  <div class="modal-body text-center">
    <p>Tem certeza que deseja excluir este registro ?</p>
    <button type="button" class="btn btn-danger" (click)="confirm()">Sim</button>
    <button type="button" class="btn btn-danger" (click)="decline()" style="margin-left: 10px">Não</button>
  </div>
</ng-template>