<form id="form-relatorio-pesquisa">
    <div class="row">
        <div class="col-md-12">
          <h3>Pesquisa de Aluno</h3>
        </div>
    </div>
    <div class="row row-margin">
        <div class="col-md-8">
          <label for="input-ra">RA:</label>
          <input type="text" class="form-control" id="input-ra">
        </div>
    
        <div class="col-md-4">
          <button id="btn-buscar" type="button" class="btn btn-info btn-full-width-center">Buscar</button>
        </div>
    </div>
    
    <div class="bloco-centro row-margin">
      <div class="row row-margin">
          <div class="col-md-12">
            <h4>Empresa Vinculada</h4>
          </div>
      </div>
      <div class="row">
          <div class="col-md-4">
            <label class="label">Razão Social:</label>
            <label id="label-razao-social" class="label espacamento">Fatec Sorocaba</label>
          </div>
          <div class="col-md-4">
            <label class="label">E-mail:</label>
            <label id="label-email" class="label espacamento">fatecsorocaba@cps.com.br</label>
          </div>
          <div class="col-md-4">
            <label class="label">Contato (Responsável):</label>
            <label id="label-contato" class="label espacamento">Maria Angélica</label>
          </div>
      </div>
    </div>

    <div class="bloco-centro">
      <div class="row row-margin">
          <div class="col-md-12">
            <h4>Contrato Associado</h4>
          </div>
      </div>
      <div class="row">
          <div class="col-md-4">
            <label class="label">Data Início:</label>
            <label id="label-data-inicio" class="label espacamento">20/05/2015</label>
          </div>
          <div class="col-md-4">
            <label class="label">Data Fim:</label>
            <label id="label-data-fim" class="label espacamento">20/05/2016</label>
          </div>
          <div class="col-md-4">
            <label class="label">Agente de Integração:</label>
            <label id="label-data-fim" class="label espacamento">CIEE</label>
          </div>
          <div class="col-md-4">
            <label class="label">Supervisor(a) de Estágio:</label>
            <label id="label-contato" class="label espacamento">Maria Angélica</label>
          </div>
      </div>
    </div>
</form>