<form id="form-relatorio-adicionar">
  <div class="row">
      <div class="col-md-12">
        <h3>Adicionar Novo Relatório</h3>
      </div>
  </div>
  <div class="row row-margin">
      <div class="col-md-3">
        <label for="input-data-entrega">Data Entrega:</label>
        <input type="date" class="form-control" id="input-data-entrega">
      </div>

      <div class="col-md-12">
        <label for="input-descricao">Descrição:</label>
        <textarea class="form-control" id="input-descricao" rows="3"></textarea>
      </div>

      <div class="col-md-12">
        <button id="btn-adicionar" type="button" class="btn btn-success">Adicionar</button>
      </div>
  </div>

</form>