<div class="container" style="margin-top:150px">
    <div class="row">
      <div class="col-md-9">
        <h1>Consultar {{ titulo }}</h1>
      </div>
    </div>
    <form id="form-relatorio">
      <div class="row row-margin">
        <div class="col-md-3">
          <label for="input-ra">RA:</label>
          <input type="text" class="form-control" id="input-ra">
        </div>

        <div class="col-md-3">
          <label for="input-data-de">De:</label>
          <input type="date" class="form-control" id="input-data-de">
        </div>

        <div class="col-md-3">
          <label for="input-data-ate">Até:</label>
          <input type="date" class="form-control" id="input-data-ate">
        </div>
        
        <div class="col-md-3">
          <button id="btn-pesquisar" type="button" class="btn btn-info">Pesquisar</button>
        </div>
      </div>
    </form>
  
    <table class="table table-bordered">
      <thead class="alinhamento">
        <tr>
          <th scope="col">#</th>
          <th scope="col">RA</th>
          <th scope="col">Nome</th>
          <th scope="col">Curso</th>
          <th scope="col">Qtd. Relatórios Preenchidos</th>
          <th scope="col">Ações</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>0030481521009</td>
          <td>Felipe Augusto de Oliveira</td>
          <td>ADS</td>
          <td>5</td>
          <td></td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <th scope="row">4</th>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <th scope="row">5</th>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      </tbody>
    </table>
  </div>