<form id="form-dados-empresa">
    <div class="row row-margin">
  
      <div class="col-md-4">
        <label for="razao" class="bold">Razão Social:</label>
        <label id="razao" class="label-block" style="margin-bottom: 20px">Fatec Sorocaba</label>
      </div>
  
      <div class="col-md-4">
        <label for="contato" class="bold">Contato:</label>
        <label id="contato" class="label-block">Maria Angélica</label>
      </div>
  
      <div class="col-md-4">
        <label for="prazo" class="bold">Prazo Convênio:</label>
        <label id="prazo" class="label-block">01/01/2022</label>
      </div>
  
      <div class="col-md-4">
        <label for="cep" class="bold">CEP:</label>
        <label id="cep" class="label-block" style="margin-bottom: 20px">18013-520</label>
      </div>
  
      <div class="col-md-4">
        <label for="uf" class="bold">UF:</label>
        <label id="uf" class="label-block">SP</label>
      </div>
  
      <div class="col-md-4">
        <label for="cidade" class="bold">Cidade:</label>
        <label id="cidade" class="label-block">Sorocaba</label>
      </div>
  
      <div class="col-md-4">
        <label for="endereco" class="bold">Endereço:</label>
        <label id="endereco" class="label-block" style="margin-bottom: 20px;">Rua Elza Salvestro Bonilha</label>
      </div>
  
      <div class="col-md-4">
        <label for="bairro" class="bold">Bairro:</label>
        <label id="bairro" class="label-block">Além Ponte</label>
      </div>

      <div class="col-md-4">
        <label for="numero" class="bold">Número:</label>
        <label id="numero" class="label-block">215</label>
      </div>

      <div class="col-md-4">
        <label for="numero" class="bold">Telefone:</label>
        <label id="numero" class="label-block">215</label>
      </div>

      <div class="col-md-4">
        <label for="email" class="bold">E-Mail:</label>
        <label id="email" class="label-block">fatec@sorocaba.com.br</label>
      </div>
    </div>
  </form>